.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.items {
    border: 1px solid black;
    border-radius: 15px;
    padding: 1rem;
}



@media(max-width: 767px) {
    .container {
        grid-template-columns: 1fr 1fr;
    } 
}